
/*CSS para colores*/
.celeste{
	color:#00ABFF;
}
.rojo{
	color:red;
}
.txt-celeste-claro{
	color:#72FBFF;
}
.bg-gris{
	background-color:#212121;
}
.txt-gris-claro{
	color:#808080;
}
.txt-blanco{
	color:#FFFFFF;
}
/*fin CSS para colores*/

/*hacer las tablas scrolleables*/
.table-fixed thead {
		  width: 97%;
		}
		.table-fixed tbody {
		  height: 230px;
		  overflow-y: auto;
		  width: 100%;
		}
		.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
		  display: block;
		}
		.table-fixed tbody td, .table-fixed thead > tr> th {
		  float: left;
		  border-bottom-width: 0;
		}
/*fin hacer las tablas scrolleables*/